include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/generalpublic *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/generalpublic/migration *.ini *.py *.mako
